.toggled > :nth-child(n + 2) {
	display: flex;
}

.spaced > :nth-last-child(2) {
	margin-left: 0;
}

.logo > :first-child {
	transform: rotate(90deg);
}

.selDis {
	display: flex;
}

@media (min-width: 1024px) {
	.selDis {
		display: none;
	}

	.toggled .selDis {
		display: flex;
	}

	.spaced > :nth-last-child(2) {
		margin-left: auto;
	}
}
